
.table-ui {
    font-family: Open Sans, Verdana, Arial;
}

.table-ui th {
	background-color:  #AAA;
	font-size: 10pt;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer;
}

/* hacer oscuras las filas pares */
.table-ui tr:nth-child(2n) {
    background-color: #EAEAEA;
}

.table-ui tr:hover td {
	border-bottom: 1px solid #AAA;
}


.table-ui td {
    font-size: 9pt;
    padding: 10px 5px;
    border-right: 1px solid #808080;
}  

.table-ui td:first-child  {
    border-left: none;
}

.table-ui td:last-child {
    border-right: none;
}

.table-s td { 
    font-family: Open Sans, OpenSans;
    font-size: 11pt;
    padding: 5px 20px;
    border-bottom: 1px solid #AAA;
}

.table-s td:first-child {
    font-size: 9pt;
    font-weight: bold;
    background-color: #EAEAEA;
}
